@charset "UTF-8";
.section {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 4rem 2rem;
}

*{
    font-size: 12px;
    font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
h1{
    padding: 5px 10px;
    font-size: 2rem;
    background: lightblue;
    border-left: 5px solid darkcyan;
}
.register-box{
    text-align: center;
}
input{
    width: 300px;
}
.output-flex{
    margin: 20px auto 0;
    display: flex;
}
.output-flex > div{
    margin: 0 10px;
    width: calc(50% - 30px);
    text-align: center;
    background: lightblue;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    margin-bottom: 5%;
    padding: 2.5%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    list-style-type: none;
    background: white;
}
@media screen and (max-width: 480px) {
    .last td:last-child {
      border-bottom: solid 1px #ccc;
      width: 100%;
    }
    .main {
      width: 80%;
    }
    .main th,
    .main td {
      border-bottom: none;
      display: block;
      width: 100%;
    }
  }
   